<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/main.css">
    <title>CRM</title>
</head>
<body>
<header>
    <div>
        <nav class="navbar bg-success p-2 text-dark bg-opacity-75">
            <div class="container-fluid">
                <a class="navbar-brand text-white" th:href="@{'/'}">CRM Система</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                     aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">CRM Система</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" th:href="@{'/'}">Все заявки</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{'/unhandled-requests'}">Новые заявки</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{'/handled-requests'}">Обработанные заявки</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#addRequest">Добавить
                                    заявку</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    Справочники
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" th:href="@{'/courses'}">Курсы</a></li>
                                    <li><a class="dropdown-item" href="#">Операторы</a></li>
                                    <!--                                <li>-->
                                    <!--                                    <hr class="dropdown-divider">-->
                                    <!--                                </li>-->
                                    <!--                                <li><a class="dropdown-item" href="#">Something else here</a></li>-->
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
<div class="container">
    <div layout:fragment="content"></div>
</div>

<!--Modal-->
<div class="modal fade" id="addRequest" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Новая Заявка</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{'/add-request'}" method="post" class="mx-auto mb-5" th:object="${newRequest}">
                    <div class="mb-3">
                        <label for="userName" class="form-label">Имя пользователя</label>
                        <input type="text" class="form-control" id="userName" placeholder="insert user name"
                               th:field="*{userName}" required>
                    </div>
                    <div class="form-floating">
                        <select class="form-select" id="courseName" aria-label="Floating label select example"
                                th:field="*{course}">
                            <option th:each="course : ${courseList}" th:value="${course.id}" th:text="${course.name} + ' | ' + ${course.price}"></option>
                        </select>
                        <label for="courseName" class="form-label">Выберите курс</label>
                    </div>
                    <div class="mb-3">
                        <label for="comment" class="form-label">Комментарий</label>
                        <textarea id="comment" cols="30" rows="5" class="form-control" th:field="*{comment}"></textarea>
                        <div class="mb-3">
                            <label for="phoneNumber" class="form-label">Phone</label>
                            <input type="number" class="form-control" id="phoneNumber" placeholder="insert phone number"
                                   th:field="*{phone}" required>
                        </div>
                        <div class="modal-footer">
                            <a th:href="@{'/'}" class="btn btn-secondary">Закрыть</a>
                            <button type="submit" class="btn btn-success">Отправить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>