<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="layouts/main">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
  <div class="row">
    <div class="col-lg-6">
      <form th:action="@{'/add-request'}" method="post" class="mx-auto mb-5" th:object="${newRequest}">
        <div class="mb-3">
          <label for="userName" class="form-label">User Name</label>
          <input type="text" class="form-control" id="userName" placeholder="insert user name" th:field="*{userName}" required>
        </div>
        <div class="mb-3">
          <label for="courseName" class="form-label">Course Name</label>
          <input type="text" class="form-control" id="courseName" placeholder="insert course surname" th:field="*{courseName}" required>
        </div>
        <div class="mb-3">
          <label for="comment" class="form-label">Comment</label>
          <textarea id="comment" cols="30" rows="5" class="form-control" th:field="*{comment}"></textarea>
        <div class="mb-3">
          <label for="phoneNumber" class="form-label">Phone</label>
          <input type="number" class="form-control" id="phoneNumber" placeholder="insert phone number" th:field="*{phone}" required>
        </div>
        <a th:href="@{'/'}" class="btn btn-secondary">CLose</a>
        <button type="submit" class="btn btn-success">Save</button>
      </form>
    </div>
  </div>
</div>
</body>
</html>