<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="layouts/main">
<body>
<div layout:fragment="content">
    <h3  class="fw-bold mt-3">Справочник Курсов</h3>
    <a href="" class="btn btn-primary mt-5 mb-3" data-bs-toggle="modal" data-bs-target="#addCourse">+ Добавить Курс</a>
    <div class="row mt-3">
        <div class="row">
            <table class="table table-striped table-group-divider">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Название</th>
                    <th scope="col">Цена</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="course : ${courseList}">
                    <th scope="row" th:text="${course.getId()}"></th>
                    <td th:text="${course.getName()}"></td>
                    <td th:text="${course.getPrice()}"></td>
                    <td><a th:href="@{'/courses/edit/' + ${course.getId()}}" class="btn btn-primary">EDIT</a></td>
                    <td><a th:href="@{'/courses/delete/' + ${course.getId()}}" class="btn btn-danger">DELETE</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--Modal-->
    <div class="modal fade" id="addCourse" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Новый Курс</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:action="@{'/courses/add'}" method="post" class="mx-auto mb-5" th:object="${newCourse}">
                        <div class="mb-3">
                            <label for="courseName" class="form-label">Название Курса</label>
                            <input type="text" class="form-control" id="courseName" placeholder="Введите наименование курса"
                                   th:field="*{name}" required>
                        </div>
                        <div class="mb-3">
                            <label for="courseDescription" class="form-label">Описание</label>
                            <textarea id="courseDescription" cols="30" rows="5" class="form-control" th:field="*{description}"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="coursePrice" class="form-label">Цена</label>
                            <input type="number" class="form-control" id="coursePrice" placeholder="Введите цену"
                                   th:field="*{price}" required>
                        </div>
                        <div class="modal-footer">
                            <a th:href="@{'/courses'}" class="btn btn-secondary">Закрыть</a>
                            <button type="submit" class="btn btn-success">Отправить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>