<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="layouts/main">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-lg-6 mx-auto mt-5">
            <form th:action="@{'/departments/edit/' + ${editDepartment.getId()}}" method="post" class="mx-auto mb-5"
                  th:object="${editDepartment}">
                <h3 class="fw-bold">Редактировать Департамент</h3>
                <div class="mb-3">
                    <label for="courseName" class="form-label">Название Департамента</label>
                    <input type="text" class="form-control" id="courseName"
                           placeholder="Введите наименование департамента"
                           th:field="*{name}" required>
                </div>
                <div class="mt-3">
                    <a th:href="@{'/departments'}" class="btn btn-secondary">Назад</a>
                    <button type="submit" class="btn btn-success">Сохранить изменения</button>
                    <a th:href="@{'/departments/delete/' + ${editDepartment.getId()}}" class="btn btn-danger">Удалить
                        Департамент</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>