<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="layouts/main">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-lg-6 mx-auto mt-5">
            <form th:action="@{'/handle-request/' + ${editRequest.getId()}}" method="post" class="mx-auto mb-5"
                  th:object="${editRequest}">
                <!--        <h5 th:if="${editRequest.handled}" th:text="Необработанная Заявка" style="color:red;"></h5>-->
                <div class="mb-3">
                    <label for="userName" class="form-label">User Name</label>
                    <input type="text" class="form-control" id="userName" th:value="${editRequest.userName}"
                           th:field="*{userName}">
                </div>
                <div class="mb-3">
                    <label for="courseName" class="form-label">Course Name</label>
                    <input type="text" class="form-control" id="courseName" th:value="${editRequest.courseName}"
                           th:field="*{courseName}" required>
                </div>
                <div class="mb-3">
                    <label for="comment" class="form-label">Comment</label>
                    <textarea id="comment" cols="30" rows="5" class="form-control" th:value="${editRequest.comment}"
                              th:field="*{comment}"></textarea>
                </div>
                <div class="mb-3">
                    <label for="phoneNumber" class="form-label">Phone</label>
                    <input type="number" class="form-control" id="phoneNumber" th:value="${editRequest.phone}"
                           th:field="*{phone}" required>
                </div>
                <a th:href="@{'/'}" class="btn btn-secondary">На главную</a>
                <button type="submit" class="btn btn-success">Обработать Заявку</button>
                <a th:href="@{'/delete-request/' + ${editRequest.getId()}}" class="btn btn-danger">Удалить Заявку</a>
            </form>
        </div>
    </div>
</div>
</body>
</html>