<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="layouts/main">
<body>
<div layout:fragment="content">
   <div class="row mt-5">
      <div class="col-5 m-auto">
         <div class="shadow p-3">
            <h6 class="mb-3">Вход</h6>
            <div th:if="${param.regSuccess}" class="alert alert-success" role="alert">
               Регистрация прошла успешно!
            </div>
            <div th:if="${param.error}" class="alert alert-danger" role="alert">
               Логин или пароль неверный!
            </div>
            <form th:action="@{'/auth'}" th:method="post">
               <div class="form-group mb-3">
                  <label for="userEmail" class="form-label">Email:</label>
                  <input type="email" name="user_email" class="form-control" id="userEmail" required>
               </div>
               <div class="form-group mb-3">
                  <label for="userPassword" class="form-label">Пароль:</label>
                  <input type="password" name="user_password" class="form-control" id="userPassword" required>
               </div>
               <div class="form-group">
                  <a th:href="@{'/users/register'}" class="nav-link mb-3 ps-0">Нет аккаунта?</a>
                  <button type="submit" class="btn btn-success ms-auto">Войти</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
</body>
</html>